.login_h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Arizonia", cursive;
}
.login_img {
  height: 5rem;
}
.login_brands {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.login_link {
  text-decoration: none;
  font-weight: bold;
  font-family: "Arizonia", cursive;
}
.login_span {
  color: white;
  text-transform: uppercase;
}
.login_button {

  font-family: "Arizonia", cursive;
  color: white;
  padding: 0.8rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.login_button:hover {
  background-color: #4e0eff;
}
.login_input {
  background-color: #fff;
  padding: 0.8rem;
  border: 0.1rem solid #887e7e;
  border-radius: 20px;
  width: 100%;
  font-size: 1rem;
}

.login_input:focus {
  border: 0.1rem solid #997af0;
  outline: none;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #00000076;
  border-radius: 2rem;
  padding: 2rem 4rem;
}

.login_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 400px) and (max-width: 480px) {
  .login_form {
    margin: 1rem;
  }
  .login_span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: none;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .login_form {
    margin: 0;
    padding: 2rem 30px;
    margin: 0 1rem;
  }
  .login_span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: none;
  }
}
